.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  flex-wrap: wrap;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  width: 200px;
  height: 170px;
  margin: 10px;
}
